/* Bo góc và đổi màu nút bấm */
.button{
    -fx-backgrond-color: #3498db; /* Mau xanh duong chu dao */
    -fx-text-fill: white; /* Mau chu trang */
    -fx-background-radius: 25; /* BO GOC: so cang lon goc cang tron */
    -fx-font-size: 14px; /* Co chu */
}

/* Hieu ung khi di chuot qua nut (Hover) */
.button:hover{
    -fx-backgrond-color: #2980b9; /* Mau dam hon mot chut */
    -fx-cursor: hand; /* Con tro chuot bien thanh ban tay */
}